<h2>Log in</h2>

<div class="form login">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="input-area">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="input-area">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="input-area">
        <%= f.label :remember_me %>
        <%= f.check_box :remember_me %>        
      </div>
    <% end -%>

    <div><%= f.submit "Log in" %></div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
